<a href="https://colab.research.google.com/github/charlespimentel/PROJ_QUEIMA_BR/blob/main/Inpe_12_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORTANDO BIBLIOTECAS**

In [ ]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt
import datetime

**DATASETS DE JANEIRO DE 2012 a MARÇO DE 2020**- PANTANAL - INPE

Os datasets foram baixados, ano a ano, em 04/04/2021 no endereço https://queimadas.dgi.inpe.br//queimadas/bdqueimadas/#tabela-de-atributos

In [ ]:
df2012 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2012-01-01_2012-12-31.csv', sep=',')
df2013 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2013-01-01_2013-12-31.csv', sep=',')
df2014 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2014-01-01_2014-12-31.csv', sep=',')
df2015 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2015-01-01_2015-12-31.csv', sep=',')
df2016 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2016-01-01_2016-12-31.csv', sep=',')
df2017 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2017-01-01_2017-12-31.csv', sep=',')
df2018 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2018-01-01_2018-12-31.csv', sep=',')
df2019 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2019-01-01_2019-12-31.csv', sep=',')
df2020 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2020-01-01_2020-12-31.csv', sep=',')

**UNINDO OS 9 DATASETS**

In [ ]:
#Unindo os 10 datasets
df = pd.concat([df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020])

**PRIMEIRAS LINHAS DO DATASET**

In [ ]:
df.head() #primeiras linhas

              datahora  satelite    pais  ... latitude longitude frp
0  2012/01/07 05:02:00  AQUA_M-M  Brasil  ...  -17.138   -57.326 NaN
1  2012/01/07 05:02:00  AQUA_M-M  Brasil  ...  -16.914   -57.693 NaN
2  2012/01/07 05:02:00  AQUA_M-M  Brasil  ...  -17.118   -57.322 NaN
3  2012/01/07 05:02:00  AQUA_M-M  Brasil  ...  -17.117   -57.327 NaN
4  2012/01/07 05:02:00  AQUA_M-M  Brasil  ...  -16.901   -57.704 NaN

[5 rows x 12 columns]

**ÚLTIMAS LINHAS DO DATASET**

In [ ]:
df.tail() #últimas linhas

                   datahora satelite    pais  ... latitude longitude frp
742972  2020/10/13 18:43:22  GOES-16  Brasil  ... -19.7000  -57.0500 NaN
742973  2020/10/13 16:33:00  NOAA-20  Brasil  ... -18.8318  -57.0566 NaN
742974  2020/10/13 16:33:00  NOAA-20  Brasil  ... -17.2116  -56.1356 NaN
742975  2020/10/13 16:33:00  NOAA-20  Brasil  ... -17.4440  -55.1032 NaN
742976  2020/10/13 16:33:00  NOAA-20  Brasil  ... -17.4075  -55.1013 NaN

[5 rows x 12 columns]

**TAMANHO DO DATASET**

In [ ]:
print(f'Tamanho do Dataframe: {df.shape[0]} linhas e {df.shape[1]} colunas') # Descreve o tamanho do dataframe em uma tupla

Tamanho do Dataframe: 1327467 linhas e 12 colunas

**APENAS SATÉLITE NPP-375**

In [ ]:
df = df[df['satelite'] == 'NPP-375']

**TAMANHO DO DATASET**

In [ ]:
print(f'Tamanho do Dataframe: {df.shape[0]} linhas e {df.shape[1]} colunas') # Descreve o tamanho do dataframe em uma tupla

Tamanho do Dataframe: 480926 linhas e 12 colunas

**PRIMEIRAS LINHAS DO DATASET**

In [ ]:
df.head(5) #primeiras linhas

                datahora satelite    pais  ... latitude longitude frp
468  2012/02/07 16:46:00  NPP-375  Brasil  ... -19.6091  -57.3519 NaN
502  2012/02/08 16:27:00  NPP-375  Brasil  ... -19.6463  -57.3300 NaN
530  2012/02/10 17:31:00  NPP-375  Brasil  ... -18.6448  -57.2347 NaN
531  2012/02/10 17:31:00  NPP-375  Brasil  ... -19.0780  -57.4382 NaN
532  2012/02/10 05:00:00  NPP-375  Brasil  ... -18.8916  -57.7218 NaN

[5 rows x 12 columns]

**INFORMAÇÕES GERAIS DO DATASET**

In [ ]:
df.describe().round(2) # Resume e descreve algumas operações gerais do Dataset. Round(2) arredonda para 2 casas decimais.

       diasemchuva  precipitacao  riscofogo   latitude  longitude        frp
count    402278.00     402278.00  402278.00  480926.00  480926.00  287788.00
mean         13.56          0.71     -12.68     -18.16     -56.92      15.47
std          18.05          3.48     115.21       1.36       0.80      28.74
min           0.00          0.00    -999.00     -22.13     -59.18       0.10
25%           3.00          0.00       0.60     -19.29     -57.52       3.50
50%           7.00          0.00       1.00     -17.83     -57.12       7.30
75%          17.00          0.00       1.00     -17.03     -56.25      15.90
max         117.00        138.00       1.00     -15.53     -54.92    1945.20

In [ ]:
print(df.riscofogo.count()) #Contagem de dados não-nulos de uma coluna específica

402278

In [ ]:
print(df['riscofogo'].isna().sum()) #Contagem de dados nulos de uma coluna específica

78648

**RETIRANDO AS LINHAS COM riscofogo = NaN**

**Informação sobre Risco Fogo**
*   Mínimo, abaixo de 0,15;
*   Baixo, de 0,15 a 0,4;
*   Médio, de 0,4 a 0,7;
*   Alto, de 0,7 a 0,95 e;
*   Crítico, acima de 0.95.

In [ ]:
df = df.dropna(subset=["riscofogo"])

In [ ]:
df.head(5)

              datahora satelite    pais  ... latitude longitude frp
2  2014/10/15 17:02:00  NPP-375  Brasil  ... -19.9664  -57.4599 NaN
3  2014/10/09 17:15:00  NPP-375  Brasil  ... -19.8841  -57.3938 NaN
4  2014/10/15 17:02:00  NPP-375  Brasil  ... -19.9342  -57.3920 NaN
5  2014/10/15 17:03:00  NPP-375  Brasil  ... -18.5320  -56.6813 NaN
6  2014/10/15 17:02:00  NPP-375  Brasil  ... -19.9478  -57.3313 NaN

[5 rows x 12 columns]

**SEPARANDO DATA E HORA - PARTE 1 - Transformando a coluna para datetime**

In [ ]:
df['datahora'] = pd.to_datetime(df['datahora'])

**SEPARANDO DATA E HORA - PARTE 2**

In [ ]:
# Coluna 'Data'
df['Data'] = df['datahora'].dt.strftime('%Y-%m-%d')
# Coluna 'Hora'
df['Hora'] = df['datahora'].dt.strftime('%H:%M:%S')

In [ ]:
df.head(5)

             datahora satelite    pais  ... frp        Data      Hora
2 2014-10-15 17:02:00  NPP-375  Brasil  ... NaN  2014-10-15  17:02:00
3 2014-10-09 17:15:00  NPP-375  Brasil  ... NaN  2014-10-09  17:15:00
4 2014-10-15 17:02:00  NPP-375  Brasil  ... NaN  2014-10-15  17:02:00
5 2014-10-15 17:03:00  NPP-375  Brasil  ... NaN  2014-10-15  17:03:00
6 2014-10-15 17:02:00  NPP-375  Brasil  ... NaN  2014-10-15  17:02:00

[5 rows x 14 columns]

**DELETANDO A COLUNA datahora**

In [ ]:
# Remove a coluna 'Data e Hora'
del df['datahora']

In [ ]:
df.head(5)

  satelite    pais              estado  ... frp        Data      Hora
2  NPP-375  Brasil  MATO GROSSO DO SUL  ... NaN  2014-10-15  17:02:00
3  NPP-375  Brasil  MATO GROSSO DO SUL  ... NaN  2014-10-09  17:15:00
4  NPP-375  Brasil  MATO GROSSO DO SUL  ... NaN  2014-10-15  17:02:00
5  NPP-375  Brasil  MATO GROSSO DO SUL  ... NaN  2014-10-15  17:03:00
6  NPP-375  Brasil  MATO GROSSO DO SUL  ... NaN  2014-10-15  17:02:00

[5 rows x 13 columns]

**TAMANHO DO DATASET APÓS PRIMEIRA LIMPEZA**

In [ ]:
print(f'Tamanho do Dataframe: {df.shape[0]} linhas e {df.shape[1]} colunas') # Descreve o tamanho do dataframe em uma tupla

Tamanho do Dataframe: 402278 linhas e 13 colunas

In [ ]:
df.head(5)

   satelite    pais  ...      Hora      coordenadas_mapa
0  AQUA_M-M  Brasil  ...  05:10:00    (-19.467, -56.388)
1  AQUA_M-M  Brasil  ...  05:15:00    (-16.236, -58.586)
2   NPP-375  Brasil  ...  17:02:00  (-19.9664, -57.4599)
3   NPP-375  Brasil  ...  17:15:00  (-19.8841, -57.3938)
4   NPP-375  Brasil  ...  17:02:00   (-19.9342, -57.392)

[5 rows x 14 columns]

**RETIRAR riscofogo MENOR QUE 0**

In [ ]:
indexNames = df[df['riscofogo'] < 0].index
df.drop(indexNames , inplace=True)

In [ ]:
df

       satelite    pais              estado  ...   frp        Data      Hora
2       NPP-375  Brasil  MATO GROSSO DO SUL  ...   NaN  2014-10-15  17:02:00
3       NPP-375  Brasil  MATO GROSSO DO SUL  ...   NaN  2014-10-09  17:15:00
4       NPP-375  Brasil  MATO GROSSO DO SUL  ...   NaN  2014-10-15  17:02:00
5       NPP-375  Brasil  MATO GROSSO DO SUL  ...   NaN  2014-10-15  17:03:00
6       NPP-375  Brasil  MATO GROSSO DO SUL  ...   NaN  2014-10-15  17:02:00
...         ...     ...                 ...  ...   ...         ...       ...
742931  NPP-375  Brasil  MATO GROSSO DO SUL  ...   1.9  2020-10-02  05:06:00
742940  NPP-375  Brasil         MATO GROSSO  ...   3.3  2020-10-12  05:18:00
742942  NPP-375  Brasil         MATO GROSSO  ...   2.8  2020-10-12  05:18:00
742956  NPP-375  Brasil  MATO GROSSO DO SUL  ...   1.3  2020-10-03  04:48:00
742960  NPP-375  Brasil  MATO GROSSO DO SUL  ...  20.9  2020-10-13  17:30:00

[395273 rows x 13 columns]

In [ ]:
df = df[['Data','Hora','satelite','pais','estado','municipio','bioma','diasemchuva','precipitacao','riscofogo','latitude','longitude','frp']]

In [ ]:
df

              Data      Hora satelite  ... latitude longitude   frp
2       2014-10-15  17:02:00  NPP-375  ... -19.9664  -57.4599   NaN
3       2014-10-09  17:15:00  NPP-375  ... -19.8841  -57.3938   NaN
4       2014-10-15  17:02:00  NPP-375  ... -19.9342  -57.3920   NaN
5       2014-10-15  17:03:00  NPP-375  ... -18.5320  -56.6813   NaN
6       2014-10-15  17:02:00  NPP-375  ... -19.9478  -57.3313   NaN
...            ...       ...      ...  ...      ...       ...   ...
742931  2020-10-02  05:06:00  NPP-375  ... -17.4586  -55.9273   1.9
742940  2020-10-12  05:18:00  NPP-375  ... -17.7191  -57.3138   3.3
742942  2020-10-12  05:18:00  NPP-375  ... -17.1433  -57.4232   2.8
742956  2020-10-03  04:48:00  NPP-375  ... -17.6902  -57.0022   1.3
742960  2020-10-13  17:30:00  NPP-375  ... -18.6623  -57.3391  20.9

[395273 rows x 13 columns]

**DATASET QUEIMADAS**

In [143]:
from google.colab import drive

In [144]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [145]:
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [147]:
!git clone https://github.com/charlespimentel/PROJ_QUEIMA_BR/blob/main/Data_Lasa_12_21/alarmes_hist_2012_pantanal.shp

Cloning into 'alarmes_hist_2012_pantanal.shp'...
fatal: repository 'https://github.com/charlespimentel/PROJ_QUEIMA_BR/blob/main/Data_Lasa_12_21/alarmes_hist_2012_pantanal.shp/' not found

In [140]:
pip install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/d7/bf/e9cefb69d39155d122b6ddca53893b61535fa6ffdad70bf5ef708977f53f/geopandas-0.9.0-py2.py3-none-any.whl (994kB)
     |████████████████████████████████| 1.0MB 5.6MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/b1/72/d52e9ca81caef056062d71991b0e9b1d16af042245627c5d0e4916a36c4f/pyproj-3.0.1-cp37-cp37m-manylinux2010_x86_64.whl (6.5MB)
     |████████████████████████████████| 6.5MB 21.0MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Collecting fiona>=1.8
  Downloading https://files.pythonhosted.org/packages/ea/2a/404b22883298a3efe9c6ef8d67acbf2c38443fa366ee9cd4cd34e17626ea/Fiona-1.8.19-cp37-cp37m-manylinux1_x86_64.whl (15.3MB)
     |████████████████████████████████| 15.3MB 258kB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from pyproj>=2.2.0->geopandas) (2020.12.5)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (20.3.0)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/42/1e/947eadf10d6804bf276eb8a038bd5307996dceaaa41cfd21b7a15ec62f5d/cligj-0.7.1-py3-none-any.whl
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Installing collected packages: pyproj, cligj, munch, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.1 fiona-1.8.19 geopandas-0.9.0 munch-2.5.0 pyproj-3.0.1

In [141]:
import geopandas as gpd

In [142]:
queimadas_df_2012 = gpd.read_file('alarmes_hist_2012_pantanal.shp')

DriverError: ignored