<a href="https://colab.research.google.com/github/charlespimentel/PROJ_QUEIMA_BR/blob/main/Inpe_12_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORTANDO BIBLIOTECAS**

In [42]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt
import datetime

**DATASETS DE JANEIRO DE 2012 a MARÇO DE 2021**

Os datasets foram baixados, ano a ano, em 04/04/2021 no endereço https://queimadas.dgi.inpe.br//queimadas/bdqueimadas/#tabela-de-atributos

In [43]:
df2012 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2012-01-01_2012-12-31.csv', sep=',')
df2013 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2013-01-01_2013-12-31.csv', sep=',')
df2014 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2014-01-01_2014-12-31.csv', sep=',')
df2015 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2015-01-01_2015-12-31.csv', sep=',')
df2016 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2016-01-01_2016-12-31.csv', sep=',')
df2017 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2017-01-01_2017-12-31.csv', sep=',')
df2018 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2018-01-01_2018-12-31.csv', sep=',')
df2019 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2019-01-01_2019-12-31.csv', sep=',')
df2020 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2020-01-01_2020-12-31.csv', sep=',')
df2021 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2021-01-01_2021-03-31.csv', sep=',')

**CINCO PRIMEIRAS LINHAS DE ANO ESCOLHIDO**

In [44]:
df2021.head(5)

              datahora satelite    pais  ... latitude longitude  frp
0  2021/01/01 17:30:00  NPP-375  Brasil  ... -17.2498  -57.3052  4.6
1  2021/01/01 18:18:00  NOAA-20  Brasil  ... -19.6063  -56.7657  7.3
2  2021/01/01 18:18:00  NOAA-20  Brasil  ... -19.6045  -56.7659  8.4
3  2021/01/01 18:18:00  NOAA-20  Brasil  ... -16.3639  -57.3641  5.9
4  2021/01/01 22:29:52  NOAA-19  Brasil  ... -17.2532  -57.3146  NaN

[5 rows x 12 columns]

**UNINDO OS 10 DATASETS**

In [45]:
#Unindo os 10 datasets
df = pd.concat([df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021])

**n PRIMEIRAS LINHAS DO DATASET**

In [48]:
df.head(140000) #140000 primeiras linhas

                 datahora   satelite    pais  ... latitude longitude frp
0     2012/01/07 05:02:00   AQUA_M-M  Brasil  ... -17.1380  -57.3260 NaN
1     2012/01/07 05:02:00   AQUA_M-M  Brasil  ... -16.9140  -57.6930 NaN
2     2012/01/07 05:02:00   AQUA_M-M  Brasil  ... -17.1180  -57.3220 NaN
3     2012/01/07 05:02:00   AQUA_M-M  Brasil  ... -17.1170  -57.3270 NaN
4     2012/01/07 05:02:00   AQUA_M-M  Brasil  ... -16.9010  -57.7040 NaN
...                   ...        ...     ...  ...      ...       ...  ..
5166  2014/01/03 17:21:00   AQUA_M-T  Brasil  ... -19.4740  -56.3850 NaN
5167  2014/01/03 17:21:00   AQUA_M-T  Brasil  ... -20.1970  -57.3860 NaN
5168  2014/01/03 17:21:00   AQUA_M-T  Brasil  ... -18.2740  -55.3710 NaN
5169  2014/01/08 17:47:00    NPP-375  Brasil  ... -16.2745  -58.2828 NaN
5170  2014/01/02 13:52:00  TERRA_M-T  Brasil  ... -20.2020  -57.3810 NaN

[140000 rows x 12 columns]

**n ÚLTIMAS LINHAS DO DATASET**

In [49]:
df.tail(100000) #100000 últimas linhas

                   datahora   satelite    pais  ... latitude longitude   frp
646885  2020/07/23 06:03:38    GOES-16  Brasil  ... -17.0400  -57.2800   NaN
646886  2020/07/23 06:03:38    GOES-16  Brasil  ... -17.1000  -57.2200   NaN
646887  2020/07/23 06:03:38    GOES-16  Brasil  ... -17.1000  -57.2000   NaN
646888  2020/07/23 06:03:38    GOES-16  Brasil  ... -17.1000  -57.1500   NaN
646889  2020/07/23 06:03:37    GOES-16  Brasil  ... -17.1200  -57.2800   NaN
...                     ...        ...     ...  ...      ...       ...   ...
3903    2021/03/31 03:10:00  TERRA_M-M  Brasil  ... -21.2760  -57.8400  55.0
3904    2021/03/31 03:10:00  TERRA_M-M  Brasil  ... -21.2640  -57.8360  68.3
3905    2021/03/31 04:42:00    NOAA-20  Brasil  ... -21.2743  -57.8375   3.2
3906    2021/03/31 04:42:00    NOAA-20  Brasil  ... -18.6196  -55.2020   8.9
3907    2021/03/31 04:42:00    NOAA-20  Brasil  ... -18.6295  -55.2082   2.3

[100000 rows x 12 columns]

**TAMANHO DO DATASET**

In [50]:
print(f'Tamanho do Dataframe: {df.shape[0]} linhas e {df.shape[1]} colunas') # Descreve o tamanho do dataframe em uma tupla

Tamanho do Dataframe: 1331375 linhas e 12 colunas

**INFORMAÇÕES GERAIS DO DATASET**

In [51]:
df.describe().round(2) # Resume e descreve algumas operações gerais do Dataset. Round(2) arredonda para 2 casas decimais.

       diasemchuva  precipitacao   riscofogo    latitude   longitude        frp
count   1183732.00    1183732.00  1183732.00  1331375.00  1331375.00  377209.00
mean         14.46          0.77      -21.07      -18.03      -56.98      26.49
std          18.47          3.71      146.19        1.33        0.76      71.06
min           0.00          0.00     -999.00      -22.14      -59.18       0.00
25%           3.00          0.00        0.60      -19.12      -57.52       4.30
50%           8.00          0.00        1.00      -17.63      -57.18       9.70
75%          19.00          0.00        1.00      -16.96      -56.38      23.70
max         119.00        138.00        1.00      -15.53      -54.92    4196.50

**FAZENDO A MÉDIA DE UMA COLUNA ESCOLHIDA**

In [52]:
df = pd.DataFrame(df)
mean_df = df['riscofogo'].mean()
print(mean_df)

-21.07365805776664

In [53]:
print(df.riscofogo.count()) #Contagem de dados não-nulos de uma coluna específica

1183732

In [55]:
print(df['riscofogo'].isna().sum()) #Contagem de dados nulos de uma coluna específica

147643

**SEPARANDO DATA E HORA - PARTE 1 - Transformando a coluna para datetime**

In [56]:
df['datahora'] = pd.to_datetime(df['datahora'])

**SEPARANDO DATA E HORA - PARTE 2**

In [57]:
# Coluna 'Data'
df['Data'] = df['datahora'].dt.strftime('%Y-%m-%d')
# Coluna 'Hora'
df['Hora'] = df['datahora'].dt.strftime('%H:%M:%S')

In [58]:
df.head(5)

             datahora  satelite    pais  ... frp        Data      Hora
0 2012-01-07 05:02:00  AQUA_M-M  Brasil  ... NaN  2012-01-07  05:02:00
1 2012-01-07 05:02:00  AQUA_M-M  Brasil  ... NaN  2012-01-07  05:02:00
2 2012-01-07 05:02:00  AQUA_M-M  Brasil  ... NaN  2012-01-07  05:02:00
3 2012-01-07 05:02:00  AQUA_M-M  Brasil  ... NaN  2012-01-07  05:02:00
4 2012-01-07 05:02:00  AQUA_M-M  Brasil  ... NaN  2012-01-07  05:02:00

[5 rows x 14 columns]

**DELETANDO A COLUNA datahora**

In [59]:
# Remove a coluna 'Data e Hora'
del df['datahora']

In [60]:
df.head(5)

   satelite    pais       estado  ... frp        Data      Hora
0  AQUA_M-M  Brasil  MATO GROSSO  ... NaN  2012-01-07  05:02:00
1  AQUA_M-M  Brasil  MATO GROSSO  ... NaN  2012-01-07  05:02:00
2  AQUA_M-M  Brasil  MATO GROSSO  ... NaN  2012-01-07  05:02:00
3  AQUA_M-M  Brasil  MATO GROSSO  ... NaN  2012-01-07  05:02:00
4  AQUA_M-M  Brasil  MATO GROSSO  ... NaN  2012-01-07  05:02:00

[5 rows x 13 columns]

**RETIRANDO AS LINHAS COM riscofogo = NaN**

In [61]:
df = df.dropna(subset=["riscofogo"])

In [62]:
df.head(5)

   satelite    pais              estado  ... frp        Data      Hora
0  AQUA_M-M  Brasil  MATO GROSSO DO SUL  ... NaN  2014-01-03  05:10:00
1  AQUA_M-M  Brasil         MATO GROSSO  ... NaN  2014-10-09  05:15:00
2   NPP-375  Brasil  MATO GROSSO DO SUL  ... NaN  2014-10-15  17:02:00
3   NPP-375  Brasil  MATO GROSSO DO SUL  ... NaN  2014-10-09  17:15:00
4   NPP-375  Brasil  MATO GROSSO DO SUL  ... NaN  2014-10-15  17:02:00

[5 rows x 13 columns]

**TAMANHO DO DATASET APÓS PRIMEIRA LIMPEZA**

In [63]:
print(f'Tamanho do Dataframe: {df.shape[0]} linhas e {df.shape[1]} colunas') # Descreve o tamanho do dataframe em uma tupla

Tamanho do Dataframe: 1183732 linhas e 13 colunas

**Informação sobre Risco Fogo**
*   Mínimo, abaixo de 0,15;
*   Baixo, de 0,15 a 0,4;
*   Médio, de 0,4 a 0,7;
*   Alto, de 0,7 a 0,95 e;
*   Crítico, acima de 0.95.

**CRIANDO TUPLA (LATITUDE,LONGITUDE)**

In [64]:
df['coordenadas_mapa'] = list(zip(df.latitude, df.longitude))

In [65]:
print(f'Tamanho do Dataframe: {df.shape[0]} linhas e {df.shape[1]} colunas') # Descreve o tamanho do dataframe em uma tupla

Tamanho do Dataframe: 1183732 linhas e 14 colunas

In [66]:
df.head(5)

   satelite    pais  ...      Hora      coordenadas_mapa
0  AQUA_M-M  Brasil  ...  05:10:00    (-19.467, -56.388)
1  AQUA_M-M  Brasil  ...  05:15:00    (-16.236, -58.586)
2   NPP-375  Brasil  ...  17:02:00  (-19.9664, -57.4599)
3   NPP-375  Brasil  ...  17:15:00  (-19.8841, -57.3938)
4   NPP-375  Brasil  ...  17:02:00   (-19.9342, -57.392)

[5 rows x 14 columns]

**RETIRANDO AS LINHAS COM frp=NaN**

In [67]:
df = df.dropna(subset=["frp"])

A Potência Radiativa do fogo (FRP), do Inglês Fire Radiative Power, relaciona-se diretamente com a intensidade do fogo e é proporcional ao total de biomassa consumida por unidade de tempo

In [68]:
df.head(5)

    satelite    pais  ...      Hora      coordenadas_mapa
0   AQUA_M-M  Brasil  ...  05:25:00     (-16.26, -58.939)
5    NPP-375  Brasil  ...  05:06:00  (-16.5936, -57.6168)
6    NPP-375  Brasil  ...  04:42:00   (-19.294, -55.2828)
8  TERRA_M-T  Brasil  ...  14:45:00    (-16.139, -58.686)
9  TERRA_M-T  Brasil  ...  14:30:00     (-18.479, -55.37)

[5 rows x 14 columns]

In [69]:
print(f'Tamanho do Dataframe: {df.shape[0]} linhas e {df.shape[1]} colunas') # Descreve o tamanho do dataframe em uma tupla

Tamanho do Dataframe: 372884 linhas e 14 colunas