<a href="https://colab.research.google.com/github/charlespimentel/PROJ_QUEIMA_BR/blob/main/Inpe_12_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt

2012-2021

In [8]:
df2012 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2012-01-01_2012-12-31.csv', sep=',')
df2013 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2013-01-01_2013-12-31.csv', sep=',')
df2014 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2014-01-01_2014-12-31.csv', sep=',')
df2015 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2015-01-01_2015-12-31.csv', sep=',')
df2016 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2016-01-01_2016-12-31.csv', sep=',')
df2017 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2017-01-01_2017-12-31.csv', sep=',')
df2018 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2018-01-01_2018-12-31.csv', sep=',')
df2019 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2019-01-01_2019-12-31.csv', sep=',')
df2020 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2020-01-01_2020-12-31.csv', sep=',')
df2021 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2021-01-01_2021-03-31.csv', sep=',')

In [ ]:
df2021.head(5)

In [19]:
#Unindo os 10 datasets
df = pd.concat([df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021])

In [20]:
df.head(3)

              datahora  satelite    pais  ... latitude longitude frp
0  2012/01/07 05:02:00  AQUA_M-M  Brasil  ...  -17.138   -57.326 NaN
1  2012/01/07 05:02:00  AQUA_M-M  Brasil  ...  -16.914   -57.693 NaN
2  2012/01/07 05:02:00  AQUA_M-M  Brasil  ...  -17.118   -57.322 NaN

[3 rows x 12 columns]

In [21]:
df.tail(3)

                 datahora satelite    pais  ... latitude longitude  frp
3905  2021/03/31 04:42:00  NOAA-20  Brasil  ... -21.2743  -57.8375  3.2
3906  2021/03/31 04:42:00  NOAA-20  Brasil  ... -18.6196  -55.2020  8.9
3907  2021/03/31 04:42:00  NOAA-20  Brasil  ... -18.6295  -55.2082  2.3

[3 rows x 12 columns]

In [24]:
df.describe().round(2) # Resume e descreve algumas operações gerais do Dataset. Round(2) arredonda para 2 casas decimais.

       diasemchuva  precipitacao   riscofogo    latitude   longitude        frp
count   1183732.00    1183732.00  1183732.00  1331375.00  1331375.00  377209.00
mean         14.46          0.77      -21.07      -18.03      -56.98      26.49
std          18.47          3.71      146.19        1.33        0.76      71.06
min           0.00          0.00     -999.00      -22.14      -59.18       0.00
25%           3.00          0.00        0.60      -19.12      -57.52       4.30
50%           8.00          0.00        1.00      -17.63      -57.18       9.70
75%          19.00          0.00        1.00      -16.96      -56.38      23.70
max         119.00        138.00        1.00      -15.53      -54.92    4196.50

In [25]:
print(f'Tamanho do Dataframe: {df.shape[0]} linhas e {df.shape[1]} colunas') # Descreve o tamanho do dataframe em uma tupla

Tamanho do Dataframe: 1331375 linhas e 12 colunas