<a href="https://colab.research.google.com/github/charlespimentel/PROJ_QUEIMA_BR/blob/main/Inpe_12_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORTANDO BIBLIOTECAS**

In [ ]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt
import datetime

**DATASETS DE JANEIRO DE 2012 a MARÇO DE 2021**- PANTANAL

---

Os datasets foram baixados, ano a ano, em 04/04/2021 no endereço https://queimadas.dgi.inpe.br//queimadas/bdqueimadas/#tabela-de-atributos

In [ ]:
df2012 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2012-01-01_2012-12-31.csv', sep=',')
df2013 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2013-01-01_2013-12-31.csv', sep=',')
df2014 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2014-01-01_2014-12-31.csv', sep=',')
df2015 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2015-01-01_2015-12-31.csv', sep=',')
df2016 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2016-01-01_2016-12-31.csv', sep=',')
df2017 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2017-01-01_2017-12-31.csv', sep=',')
df2018 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2018-01-01_2018-12-31.csv', sep=',')
df2019 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2019-01-01_2019-12-31.csv', sep=',')
df2020 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2020-01-01_2020-12-31.csv', sep=',')
df2021 = pd.read_csv('https://raw.githubusercontent.com/charlespimentel/PROJ_QUEIMA_BR/main/Data_Inpe_12_21/Focos_2021-01-01_2021-03-31.csv', sep=',')

In [ ]:
print(f'Tamanho do Dataframe: {df2014.shape[0]} linhas e {df2014.shape[1]} colunas') # Descreve o tamanho do dataframe em uma tupla

Tamanho do Dataframe: 14815 linhas e 12 colunas

**CINCO PRIMEIRAS LINHAS DE ANO ESCOLHIDO**

In [ ]:
df2014.head()

              datahora  satelite    pais  ... latitude longitude frp
0  2014/01/03 05:10:00  AQUA_M-M  Brasil  ... -19.4670  -56.3880 NaN
1  2014/10/09 05:15:00  AQUA_M-M  Brasil  ... -16.2360  -58.5860 NaN
2  2014/10/15 17:02:00   NPP-375  Brasil  ... -19.9664  -57.4599 NaN
3  2014/10/09 17:15:00   NPP-375  Brasil  ... -19.8841  -57.3938 NaN
4  2014/10/15 17:02:00   NPP-375  Brasil  ... -19.9342  -57.3920 NaN

[5 rows x 12 columns]

**UNINDO OS 10 DATASETS**

In [ ]:
#Unindo os 10 datasets
df = pd.concat([df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021])

**n PRIMEIRAS LINHAS DO DATASET**

In [ ]:
df.head() #primeiras linhas

              datahora  satelite    pais  ... latitude longitude frp
0  2012/01/07 05:02:00  AQUA_M-M  Brasil  ...  -17.138   -57.326 NaN
1  2012/01/07 05:02:00  AQUA_M-M  Brasil  ...  -16.914   -57.693 NaN
2  2012/01/07 05:02:00  AQUA_M-M  Brasil  ...  -17.118   -57.322 NaN
3  2012/01/07 05:02:00  AQUA_M-M  Brasil  ...  -17.117   -57.327 NaN
4  2012/01/07 05:02:00  AQUA_M-M  Brasil  ...  -16.901   -57.704 NaN

[5 rows x 12 columns]

**n ÚLTIMAS LINHAS DO DATASET**

In [ ]:
df.tail() #últimas linhas

                 datahora   satelite    pais  ... latitude longitude   frp
3903  2021/03/31 03:10:00  TERRA_M-M  Brasil  ... -21.2760  -57.8400  55.0
3904  2021/03/31 03:10:00  TERRA_M-M  Brasil  ... -21.2640  -57.8360  68.3
3905  2021/03/31 04:42:00    NOAA-20  Brasil  ... -21.2743  -57.8375   3.2
3906  2021/03/31 04:42:00    NOAA-20  Brasil  ... -18.6196  -55.2020   8.9
3907  2021/03/31 04:42:00    NOAA-20  Brasil  ... -18.6295  -55.2082   2.3

[5 rows x 12 columns]

**TAMANHO DO DATASET**

In [ ]:
print(f'Tamanho do Dataframe: {df.shape[0]} linhas e {df.shape[1]} colunas') # Descreve o tamanho do dataframe em uma tupla

Tamanho do Dataframe: 1331375 linhas e 12 colunas

**INFORMAÇÕES GERAIS DO DATASET**

In [ ]:
df.describe().round(2) # Resume e descreve algumas operações gerais do Dataset. Round(2) arredonda para 2 casas decimais.

       diasemchuva  precipitacao   riscofogo    latitude   longitude        frp
count   1183732.00    1183732.00  1183732.00  1331375.00  1331375.00  377209.00
mean         14.46          0.77      -21.07      -18.03      -56.98      26.49
std          18.47          3.71      146.19        1.33        0.76      71.06
min           0.00          0.00     -999.00      -22.14      -59.18       0.00
25%           3.00          0.00        0.60      -19.12      -57.52       4.30
50%           8.00          0.00        1.00      -17.63      -57.18       9.70
75%          19.00          0.00        1.00      -16.96      -56.38      23.70
max         119.00        138.00        1.00      -15.53      -54.92    4196.50

**FAZENDO A MÉDIA DE UMA COLUNA ESCOLHIDA**

In [ ]:
df = pd.DataFrame(df)
mean_df = df['riscofogo'].mean()
print(mean_df)

-21.07365805776664

In [ ]:
print(df.riscofogo.count()) #Contagem de dados não-nulos de uma coluna específica

1183732

In [ ]:
print(df['riscofogo'].isna().sum()) #Contagem de dados nulos de uma coluna específica

147643

**SEPARANDO DATA E HORA - PARTE 1 - Transformando a coluna para datetime**

In [ ]:
df['datahora'] = pd.to_datetime(df['datahora'])

**SEPARANDO DATA E HORA - PARTE 2**

In [ ]:
# Coluna 'Data'
df['Data'] = df['datahora'].dt.strftime('%Y-%m-%d')
# Coluna 'Hora'
df['Hora'] = df['datahora'].dt.strftime('%H:%M:%S')

In [ ]:
df.head(5)

             datahora  satelite    pais  ... frp        Data      Hora
0 2012-01-07 05:02:00  AQUA_M-M  Brasil  ... NaN  2012-01-07  05:02:00
1 2012-01-07 05:02:00  AQUA_M-M  Brasil  ... NaN  2012-01-07  05:02:00
2 2012-01-07 05:02:00  AQUA_M-M  Brasil  ... NaN  2012-01-07  05:02:00
3 2012-01-07 05:02:00  AQUA_M-M  Brasil  ... NaN  2012-01-07  05:02:00
4 2012-01-07 05:02:00  AQUA_M-M  Brasil  ... NaN  2012-01-07  05:02:00

[5 rows x 14 columns]

**DELETANDO A COLUNA datahora**

In [ ]:
# Remove a coluna 'Data e Hora'
del df['datahora']

In [ ]:
df.head(5)

   satelite    pais       estado  ... frp        Data      Hora
0  AQUA_M-M  Brasil  MATO GROSSO  ... NaN  2012-01-07  05:02:00
1  AQUA_M-M  Brasil  MATO GROSSO  ... NaN  2012-01-07  05:02:00
2  AQUA_M-M  Brasil  MATO GROSSO  ... NaN  2012-01-07  05:02:00
3  AQUA_M-M  Brasil  MATO GROSSO  ... NaN  2012-01-07  05:02:00
4  AQUA_M-M  Brasil  MATO GROSSO  ... NaN  2012-01-07  05:02:00

[5 rows x 13 columns]

**RETIRANDO AS LINHAS COM riscofogo = NaN**

In [ ]:
df = df.dropna(subset=["riscofogo"])

In [ ]:
df.head(5)

   satelite    pais              estado  ... frp        Data      Hora
0  AQUA_M-M  Brasil  MATO GROSSO DO SUL  ... NaN  2014-01-03  05:10:00
1  AQUA_M-M  Brasil         MATO GROSSO  ... NaN  2014-10-09  05:15:00
2   NPP-375  Brasil  MATO GROSSO DO SUL  ... NaN  2014-10-15  17:02:00
3   NPP-375  Brasil  MATO GROSSO DO SUL  ... NaN  2014-10-09  17:15:00
4   NPP-375  Brasil  MATO GROSSO DO SUL  ... NaN  2014-10-15  17:02:00

[5 rows x 13 columns]

**TAMANHO DO DATASET APÓS PRIMEIRA LIMPEZA**

In [ ]:
print(f'Tamanho do Dataframe: {df.shape[0]} linhas e {df.shape[1]} colunas') # Descreve o tamanho do dataframe em uma tupla

Tamanho do Dataframe: 1183732 linhas e 13 colunas

**Informação sobre Risco Fogo**
*   Mínimo, abaixo de 0,15;
*   Baixo, de 0,15 a 0,4;
*   Médio, de 0,4 a 0,7;
*   Alto, de 0,7 a 0,95 e;
*   Crítico, acima de 0.95.

**CRIANDO TUPLA (LATITUDE,LONGITUDE)**

In [ ]:
df['coordenadas_mapa'] = list(zip(df.latitude, df.longitude))

In [ ]:
print(f'Tamanho do Dataframe: {df.shape[0]} linhas e {df.shape[1]} colunas') # Descreve o tamanho do dataframe em uma tupla

Tamanho do Dataframe: 1183732 linhas e 14 colunas

In [ ]:
df.head(5)

   satelite    pais  ...      Hora      coordenadas_mapa
0  AQUA_M-M  Brasil  ...  05:10:00    (-19.467, -56.388)
1  AQUA_M-M  Brasil  ...  05:15:00    (-16.236, -58.586)
2   NPP-375  Brasil  ...  17:02:00  (-19.9664, -57.4599)
3   NPP-375  Brasil  ...  17:15:00  (-19.8841, -57.3938)
4   NPP-375  Brasil  ...  17:02:00   (-19.9342, -57.392)

[5 rows x 14 columns]

**RETIRAR riscofogo MENOR QUE 0**

In [ ]:
indexNames = df[df['riscofogo'] < 0].index
df.drop(indexNames , inplace=True)

In [ ]:
df

       satelite    pais  ...      Hora      coordenadas_mapa
0      AQUA_M-M  Brasil  ...  05:10:00    (-19.467, -56.388)
1      AQUA_M-M  Brasil  ...  05:15:00    (-16.236, -58.586)
2       NPP-375  Brasil  ...  17:02:00  (-19.9664, -57.4599)
3       NPP-375  Brasil  ...  17:15:00  (-19.8841, -57.3938)
4       NPP-375  Brasil  ...  17:02:00   (-19.9342, -57.392)
...         ...     ...  ...       ...                   ...
3903  TERRA_M-M  Brasil  ...  03:10:00     (-21.276, -57.84)
3904  TERRA_M-M  Brasil  ...  03:10:00    (-21.264, -57.836)
3905    NOAA-20  Brasil  ...  04:42:00  (-21.2743, -57.8375)
3906    NOAA-20  Brasil  ...  04:42:00   (-18.6196, -55.202)
3907    NOAA-20  Brasil  ...  04:42:00  (-18.6295, -55.2082)

[1147374 rows x 14 columns]

**REGRESSÃO LINEAR**

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDRegressor

In [ ]:
X = df[['diasemchuva']]
y = df['riscofogo']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
print(f'Dataset original: X(diasemchuva) = {X.shape}, y(riscofogo) = {y.shape}')
print(f'Datasets de treino: X(diasemchuva) = {X_train.shape}, y(riscofogo) = {y_train.shape}')

Dataset original: X(diasemchuva) = (1147374, 1), y(riscofogo) = (1147374,)
Datasets de treino: X(diasemchuva) = (803161, 1), y(riscofogo) = (803161,)

In [ ]:
modelo = SGDRegressor()

In [ ]:
modelo.fit(X_train,y_train)

SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='invscaling', loss='squared_loss', max_iter=1000,
             n_iter_no_change=5, penalty='l2', power_t=0.25, random_state=None,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [ ]:
y_preds = modelo.predict(X_test)
y_preds

array([1.22192855, 0.84691262, 0.75867358, ..., 0.87632563, 0.86897238,
       0.74396707])

In [ ]:
y_preds[:5]

array([1.22192855, 0.84691262, 0.75867358, 0.74396707, 0.69984755])

In [ ]:
y_test[:5]

707004    1.0
205382    0.6
415325    1.0
437217    1.0
5596      0.9
Name: riscofogo, dtype: float64